.clear-container {
  width: 60%;
  margin: 50px auto;
}

.title-profile {
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  text-align: center;
  justify-content: center;
}

.profile-avatar {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.profile-avatar img {
  margin-bottom: 10px;
  height: 200px;
  width: 200px;
  border: solid 6px transparent;
  border-radius: 50%;
}

.profile-avatar button {
  margin-bottom: 30px;
  font-size: 20px;
  border: none;
}

.card:hover .avatar img {
  border-color: rgb(99, 204, 131);
}

.site-description-item-profile-wrapper {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 18px;
  line-height: 1.5715;
}

.site-description-item-profile-p-label {
  display: inline-block;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.85);
}

.clear-container a {
  color: rgba(0, 0, 0, 0.85);
}

.clear-container a:hover {
  color: white;
}

.site-description-item-profile-p {
  font-size: 20px;
  font-weight: 700;
}

.login-form {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-form {
  margin: 20px auto;
  width: 80%;
}

.form-item-name {
  width: 100%;
  margin: 15px auto;
  border-radius: 5px;
}